@model OASIS.Models.Role

@{
    ViewData["Title"] = "Details";
}


<div style="padding: 0% 10% 0% 3%;">
    <div class="details-headings row" style="margin-bottom:2%;">
        <div style="width:50px;height:50px; margin-top: 0.8%;">
            <img src="~/resources/details.png" alt="Alternate Text" />
        </div>
        <div style="margin-left:1.8%; display: flex;align-self: center;">
            <h2 style="color:#7460ee">@Model.Name</h2>
        </div>
        <partial name="_DetailsMenu">

    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div>

        <div class="row details-container">
            <div class="col-6 col-md-4 row inner-details-container-one">
                <div class="container">
                    <div class="details-headings" style="justify-content: center;">
                        <div class="details-headings-img-container">
                            <img src="/resources/project-alt.png" alt="Alternate Text" />
                        </div>
                        <div>
                            <h3 style="margin-bottom: 0px; font-size: 23px;">Employees</h3>
                        </div>
                    </div>

                    <div class="row" style=" text-align: center; margin-top: 8%; height:90%; display:block;">
                        @*For loop through project and display project names*@
                        @foreach (var item in Model.Employees)
                        {
                            
                            <div style="width:100%; height:15%;">
                                <a asp-action="Details" asp-controller="Employees" asp-route-id="@item.ID" class="btn-link">
                                    @item.FormalName
                                </a>

                            </div>
                        }
                    </div>
                </div>



            </div>
            <div class="col-12 col-md-8 row inner-details-container-two">

                <div class="container">

                    <div class="card-header row">
                        <div class="col-1 text-center">
                            <span  style="font-size:33px;"  class="material-icons">
                                school
                            </span>
                        </div>
                        <div class="col-10">
                            <h3>Role Information </h3>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col">
                            <label>
                                @Html.DisplayNameFor(model => model.Name)

                            </label>
                        </div>
                        <div class="col">
                            <p>
                                @Html.DisplayFor(model => model.Name)
                            </p>
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <label>
                                @Html.DisplayNameFor(model => model.LabourCostPerHr)

                            </label>
                        </div>
                        <div class="col">
                            <p>
                                @Html.DisplayFor(model => model.LabourCostPerHr)
                            </p>
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <label>
                                @Html.DisplayNameFor(model => model.LabourPricePerHr)

                            </label>
                        </div>
                        <div class="col">
                            <p>
                                @Html.DisplayFor(model => model.LabourPricePerHr)
                            </p>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>


</div>