@inject OASIS.Data.OasisContext _context
@model IEnumerable<OASIS.ViewModels.IdentityRoleVM>

@{
    ViewBag.Title = "Index";
}

<div class="row ml-4">
    <div class="col-1 mr-2">
        <select class="btn btn-primary pr-0" onchange="ChangeEmployeeOnRole()" id="role-select" name="RoleID" asp-items="ViewBag.RoleID">
            <option value="">Position</option>
        </select>
    </div>
    <div class="col-1 mr-5">
        <select class="btn btn-secondary" id="employee-select" name="EmployeeID" asp-items="ViewBag.EmployeeID">
            <option value="">Select an Employee </option>
        </select>
    </div>
    <div class="col-1 mr-5">
        <select class="btn btn-info" id="userRole-select" name="UserRoleID" asp-items="ViewBag.UserRoleID">
            <option value="">Select a Role</option>
        </select>
    </div>

    <button onclick="addUserToRole()" class=" col-sm-1 p-0 btn btn-success" type="button" data-toggle="tooltip" data-placement="top" title="Add employee to role">+</button>

</div>

<ul class="row UserRoleList" id="sortable">
    @foreach (var Role in Model)
    {
        <li class="col-4" aria-expanded="true">
            <div>
                <div class="col-11" style=" border-top-left-radius: 25px; border-top-right-radius: 25px;">
                    <div class="card">
                        <div style="cursor:move; border-top-left-radius: 25px; border-top-right-radius: 25px;" class="card-header">
                            <div class="row">
                                <div class="col-10">
                                    <h2 style="font-size: 20px; padding-left: 15px;">
                                        @Html.DisplayFor(modelItem => Role.RoleName)<span> (@Html.DisplayFor(modelItem => Role.AssignedCount))</span>
                                    </h2>
                                </div>
                                <div class="col-2 p-1">
                                    <a asp-controller="UserRoles" asp-action="Edit" asp-route-roleName="@Role.RoleName" style="width:50%" class="btn btn-outline-light p-0">
                                        <svg style="width:80%; height:80%;" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><g style="fill:black"><path d="M0 0h24v24H0z" fill="none" /><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z" /></g></svg>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div style="position:relative;height:350px; overflow-y:scroll" class="collapse show" id="collapse-@Role.RoleName">
                            <ul id="@Role.RoleName-list" class="list-group list-group-flush">
                                @foreach (var user in Role.AssignedUsers)
                                {

                                    <li id="@user.UserName-@Role.RoleName" class="col-12 row pl-5 mt-4 pr-0">
                                        <div class="list-group-item col-8 mr-4">
                                            @if (_context.Employees.Where(p => p.UserName == user.UserName).Any())
                                            {
                                                <p> @_context.Employees.SingleOrDefault(p => p.UserName == user.UserName).FullName</p>
                                            }
                                            else
                                            {
                                                <p>@user.UserName</p>
                                            }

                                        </div>

                                        <a class="btn btn-outline-danger col-1 p-0 mr-4" asp-controller="UserRoles" asp-action="UserClaimEdit" asp-route-userName="@user.UserName" id="Edit-@user.UserName">
                                            <svg style="width:80%; height:80%;" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><g style="fill:black"><path d="M0 0h24v24H0z" fill="none" /><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z" /></g></svg>
                                        </a>

                                        <button class="btn btn-outline-danger col-1 p-0 m-0" onclick="removeUserFromRole(this)" id="delete-@user.UserName-@Role.RoleName">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none" /><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z" /></svg>
                                        </button>

                                    </li>
                                }

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>

    }

</ul>

@section scripts{
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
        //$(function () {
        //    $("#sortable").sortable({
        //        revert: true
        //    });
        //    $("#draggable").draggable({
        //        connectToSortable: "#sortable",
        //        helper: "clone",
        //        revert: "invalid",
        //    });
        //    $("ul, li").disableSelection();
        //});

    </script>

    <script src="~/js/refreshDDL.js"></script>
    <script src="~/js/addUserToRole.js"></script>

    <script type="text/javascript">
        function ChangeEmployeeOnRole() {
            console.log("entered");
            var selectedRole = $("#role-select").val();
            var URL = "/UserRoles/GetEmployees/" + selectedRole;
            refreshDDL("employee-select", URL, true);
        }

    </script>

}
