@inject OASIS.Data.OasisContext _context
@model IEnumerable<OASIS.ViewModels.IdentityRoleVM>

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="row">
        <select class="btn btn-primary  col-1 mr-1 ml-5" onchange="ChangeEmployeeOnRole()" id="role-select" name="RoleID" asp-items="ViewBag.RoleID">
            <option value="">Position</option>
        </select>
        <select class="btn btn-secondary col-1 mr-1 " id="employee-select" name="EmployeeID" asp-items="ViewBag.EmployeeID">
            <option value="">Employee </option>
        </select>
        <select class="btn btn-info col-1 mr-1 " id="userRole-select" name="UserRoleID" asp-items="ViewBag.UserRoleID">
            <option value="">Role</option>
        </select>

        <button onclick="addUserToRole()" class=" col-sm-1 p-0 btn btn-success" type="button" data-toggle="tooltip" data-placement="top" title="Add employee to role">+</button>

    </div>

    <ul class="row UserRoleList" id="sortable">
        @foreach (var Role in Model)
        {
            <li class="col-4" aria-expanded="true">
                <div>
                    <div class="col-11" style=" border-top-left-radius: 25px; border-top-right-radius: 25px;">
                        <div class="card">
                            <div style="border-top-left-radius: 25px; border-top-right-radius: 25px;" class="card-header">
                                <div class="row">
                                    <div class="col-10">
                                        <h2 style="font-size: 20px; padding-left: 15px;">
                                            @Html.DisplayFor(modelItem => Role.RoleName)<span> (@Html.DisplayFor(modelItem => Role.AssignedCount))</span>
                                        </h2>
                                    </div>
                                    <div class="col-2 p-1">
                                        <a asp-controller="UserRoles" asp-action="Edit" asp-route-roleName="@Role.RoleName" style="width:50%; height:90%;" class="btn btn-outline-dark p-0">
                                            <span class="material-icons">
                                                settings
                                            </span>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <div style="position:relative;height:350px; overflow-y:scroll" class="collapse show" id="collapse-@Role.RoleName">
                                <ul id="@Role.RoleName-list" class="list-group list-group-flush">
                                    @foreach (var user in Role.AssignedUsers)
                                    {

                                        <li id="@user.UserName-@Role.RoleName" class="col-12 row pl-5 mt-4 pr-0">
                                            <div class="list-group-item col-8 mr-4">
                                                @if (_context.Employees.Where(p => p.UserName == user.UserName).Any())
                                                {
                                                    <p> @_context.Employees.SingleOrDefault(p => p.UserName == user.UserName).FullName</p>
                                                }
                                                else
                                                {
                                                    <p>@user.UserName</p>
                                                }

                                            </div>

                                            <a class="btn btn-outline-primary col-1 p-0 mr-4" asp-controller="UserRoles" asp-action="UserClaimEdit" asp-route-userName="@user.UserName" id="Edit-@user.UserName">
                                                <span class="material-icons">
                                                    manage_accounts
                                                </span>
                                            </a>

                                            <button class="btn btn-outline-danger col-1 p-0 m-0" onclick="removeUserFromRole(this)" id="delete-@user.UserName-@Role.RoleName">
                                                <span class="material-icons">
                                                    delete
                                                </span>
                                            </button>

                                        </li>
                                    }

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

        }

    </ul>
</div>
@section scripts{
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
        //$(function () {
        //    $("#sortable").sortable({
        //        revert: true
        //    });
        //    $("#draggable").draggable({
        //        connectToSortable: "#sortable",
        //        helper: "clone",
        //        revert: "invalid",
        //    });
        //    $("ul, li").disableSelection();
        //});

    </script>

    <script src="~/js/refreshDDL.js"></script>
    <script src="~/js/addUserToRole.js"></script>

    <script type="text/javascript">
        function ChangeEmployeeOnRole() {
            console.log("entered");
            var selectedRole = $("#role-select").val();
            var URL = "/UserRoles/GetEmployees/" + selectedRole;
            refreshDDL("employee-select", URL, true);
        }

    </script>

}
