@model OASIS.Models.Project

@{
    ViewData["Title"] = "Delete";
}


<div style="padding: 0% 10% 0% 3%;">
    <div class="details-headings row" style="margin-bottom:2%;">
        <div style="width:50px;height:50px; margin-top: 0.8%;">
            <img src="~/resources/details.png" alt="Alternate Text" />
        </div>
        <div style="margin-left:1.8%">
            <h2 style="color:#7460ee">@Model.Name</h2>
            <p>@Model.Customer.OrgName  </p>
        </div>

    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div>

        <div class="row details-container">
            <div class="col-6 col-md-4 row inner-details-container-one">
                <div class="container">
                    <div class="details-headings" style="justify-content: center;">
                        <div class="details-headings-img-container">
                            <img src="/resources/project-alt.png" alt="Alternate Text" />
                        </div>
                        <div>
                            <h3>Bids</h3>
                        </div>
                    </div>

                    <div class="row" style=" text-align: center; margin-top: 8%;">
                        @*For loop through project and display project names*@
                        <div class="col">
                            <p>
                                @Html.DisplayFor(model => model.Customer.FirstName)
                            </p>
                        </div>
                        <div class="w-100"></div>

                    </div>
                </div>



            </div>
            <div class="col-12 col-md-8 row inner-details-container-two">

                <div class="container">

                    <div class="details-headings row" style="margin-bottom:0px;">
                        <div class="details-headings-img-container">
                            <img src="~/resources/user-full-fill.png" alt="Alternate Text" />
                        </div>
                        <div>
                            <h3>Project Information</h3>
                        </div>
                    </div>
                    <hr />


                    <div class="row">
                        <div class="col">
                            <label>
                                @Html.DisplayNameFor(model => model.Name)

                            </label>
                        </div>
                        <div class="col">
                            <p>
                                @Html.DisplayFor(model => model.Name)
                            </p>
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <label>
                                @Html.DisplayNameFor(model => model.SiteAddressLineOne)

                            </label>
                        </div>
                        <div class="col">
                            <p>
                                @Html.DisplayFor(model => model.SiteAddressLineOne)

                            </p>
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <label>
                                @Html.DisplayNameFor(model => model.SiteAddressLineTwo)

                            </label>
                        </div>
                        <div class="col">
                            <p>
                                @Html.DisplayFor(model => model.SiteAddressLineTwo)

                            </p>
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <label>
                                @Html.DisplayNameFor(model => model.City)

                            </label>
                        </div>
                        <div class="col">
                            <p>
                                @Html.DisplayFor(model => model.City)

                            </p>
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <label>
                                @Html.DisplayNameFor(model => model.Province)

                            </label>
                        </div>
                        <div class="col">
                            <p>
                                @Html.DisplayFor(model => model.Province)

                            </p>
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <label>

                                @Html.DisplayNameFor(model => model.Country)
                            </label>
                        </div>
                        <div class="col">
                            <p>
                                @Html.DisplayFor(model => model.Country)

                            </p>
                        </div>
                    </div>

                    <div class="details-headings row" style="margin-bottom:0px;">
                        <div class="details-headings-img-container">
                            <img src="~/resources/location.png" alt="Alternate Text" />
                        </div>
                        <div>
                            <h3>Customer Information</h3>
                        </div>
                    </div>
                    <hr />


                    <div class="row">
                        <div class="col">
                            <label>
                                @Html.DisplayNameFor(model => model.Customer.FormalName)

                            </label>
                        </div>
                        <div class="col">
                            <p>
                                @Html.DisplayFor(model => model.Customer.FormalName)

                            </p>
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <label>
                                @Html.DisplayNameFor(model => model.Customer.Position)

                            </label>
                        </div>
                        <div class="col">
                            <p>
                                @Html.DisplayFor(model => model.Customer.Position)

                            </p>
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <label>
                                @Html.DisplayNameFor(model => model.Customer.AddressLineOne)

                            </label>
                        </div>
                        <div class="col">
                            <p>
                                @Html.DisplayFor(model => model.Customer.AddressLineOne)

                            </p>
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <label>
                                @Html.DisplayNameFor(model => model.Customer.AddressLineTwo)

                            </label>
                        </div>
                        <div class="col">
                            <p>
                                @Html.DisplayFor(model => model.Customer.AddressLineTwo)

                            </p>
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <label>
                                @Html.DisplayNameFor(model => model.Customer.City)

                            </label>
                        </div>
                        <div class="col">
                            <p>
                                @Html.DisplayFor(model => model.Customer.City)

                            </p>
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <label>
                                @Html.DisplayNameFor(model => model.Customer.Province)

                            </label>
                        </div>
                        <div class="col">
                            <p>
                                @Html.DisplayFor(model => model.Customer.Province)

                            </p>
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <label>
                                @Html.DisplayNameFor(model => model.Customer.Country)

                            </label>
                        </div>
                        <div class="col">
                            <p>
                                @Html.DisplayFor(model => model.Customer.Country)

                            </p>
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <label>
                                @Html.DisplayNameFor(model => model.Customer.Phone)

                            </label>
                        </div>
                        <div class="col">
                            <p>
                                @Html.DisplayFor(model => model.Customer.Phone)

                            </p>
                        </div>
                        <div class="w-100"></div>
                        <div class="col">
                            <label>
                                @Html.DisplayNameFor(model => model.Customer.Email)

                            </label>
                        </div>
                        <div class="col">
                            <p>
                                @Html.DisplayFor(model => model.Customer.Email)

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display:flex; margin-top:50px; margin-bottom:20px;">
        <div style="width:10%" class="button-menu form-group btn btn-danger">
            <div style="width:22px; height:25px;">
                <img src="~/resources/delet-fill-white.png" alt="Alternate Text" />
            </div>
            <div>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="ID" />
                    <input type="submit" value="Delete" style=" width:100%;">
                </form>
            </div>

        </div>
        <div style="width:90%;">
            <a asp-action="Index" style="float:right; width:17%;" class="btn btn-info">

                &#8592; Back To List
            </a>
        </div>

    </div>

</div>
