@model OASIS.Models.Project

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid">
    <div style="padding: 0% 10% 0% 3%;">
        <div class="details-headings row" style="margin-bottom:2%;" data-toggle="tooltip" data-placement="top" title="Edit">
            <div style="width:50px;height:50px; margin-top: 0.4%;">
                <img src="~/resources/details.png" alt="Alternate Text" />
            </div>
            <div style="margin-left:1.8%;">
                <h2 style="color:#7460ee">@Model.Name</h2>
                <p>@Model.Customer.OrgName  </p>
            </div>
            <partial name="_DetailsMenu">

        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div>

            <div class="row details-container">
                <div class="col-6 col-md-4 row inner-details-container-one">
                    <div class="container">
                        <div class="details-headings" style="justify-content: center;">
                            <div class="details-headings-img-container">
                                <img src="/resources/project-alt.png" alt="Alternate Text" />
                            </div>
                            <div>
                                <h3>Bids</h3>
                            </div>
                        </div>

                        <div class="row" style=" text-align: center; margin-top: 8%; height:90%; display:block;">
                            @*For loop through project and display project names*@
                            @foreach (var item in Model.Bids.OrderByDescending(p => p.DateCreated))
                            {
                                <div style="width:100%; height:12%;">
                                    <a asp-action="Details" asp-controller="Bids" asp-route-id="@item.ID" class="btn-link">
                                        @Html.DisplayFor(model => item.DateCreated)
                                    </a>

                                </div>
                            }
                        </div>
                    </div>



                </div>
                <div class="col-12 col-md-8 row inner-details-container-two">

                    <div class="container">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header row">
                                    <div class="col-1 text-center">
                                        <span style="font-size:33px;" class="material-icons">
                                            work
                                        </span>
                                    </div>
                                    <div class="col-10">
                                        <h3>Project Information </h3>
                                    </div>

                                    <div class="col-1">
                                        <button class="btn btn-light pb-0" data-toggle="collapse" data-target="#collapseOne">
                                            <span class="material-icons">
                                                expand_more
                                            </span>
                                        </button>
                                    </div>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <label>
                                                    @Html.DisplayNameFor(model => model.Name)

                                                </label>
                                            </div>
                                            <div class="col">
                                                <p>
                                                    @Html.DisplayFor(model => model.Name)
                                                </p>
                                            </div>
                                            <div class="w-100"></div>
                                            <div class="col">
                                                <label>
                                                    @Html.DisplayNameFor(model => model.SiteAddressLineOne)

                                                </label>
                                            </div>
                                            <div class="col">
                                                <p>
                                                    @Html.DisplayFor(model => model.SiteAddressLineOne)

                                                </p>
                                            </div>
                                            <div class="w-100"></div>
                                            <div class="col">
                                                <label>
                                                    @Html.DisplayNameFor(model => model.SiteAddressLineTwo)

                                                </label>
                                            </div>
                                            <div class="col">
                                                <p>
                                                    @Html.DisplayFor(model => model.SiteAddressLineTwo)

                                                </p>
                                            </div>
                                            <div class="w-100"></div>
                                            <div class="col">
                                                <label>
                                                    @Html.DisplayNameFor(model => model.City)

                                                </label>
                                            </div>
                                            <div class="col">
                                                <p>
                                                    @Html.DisplayFor(model => model.City)

                                                </p>
                                            </div>
                                            <div class="w-100"></div>
                                            <div class="col">
                                                <label>
                                                    @Html.DisplayNameFor(model => model.Province)

                                                </label>
                                            </div>
                                            <div class="col">
                                                <p>
                                                    @Html.DisplayFor(model => model.Province)

                                                </p>
                                            </div>
                                            <div class="w-100"></div>
                                            <div class="col">
                                                <label>

                                                    @Html.DisplayNameFor(model => model.Country)
                                                </label>
                                            </div>
                                            <div class="col">
                                                <p>
                                                    @Html.DisplayFor(model => model.Country)

                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header row">
                                    <div class="col-1 text-center">
                                        <span style="font-size:33px;" class="material-icons">
                                            home
                                        </span>
                                    </div>
                                    <div class="col-10">
                                        <h3>Address Information </h3>
                                    </div>

                                    <div class="col-1">
                                        <button class="btn btn-light pb-0" data-toggle="collapse" data-target="#collapseTwo">
                                            <span class="material-icons">
                                                expand_more
                                            </span>
                                        </button>
                                    </div>
                                </div>

                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col">
                                                <label>
                                                    @Html.DisplayNameFor(model => model.Customer.FormalName)

                                                </label>
                                            </div>
                                            <div class="col">
                                                <p>
                                                    @Html.DisplayFor(model => model.Customer.FormalName)

                                                </p>
                                            </div>
                                            <div class="w-100"></div>
                                            <div class="col">
                                                <label>
                                                    @Html.DisplayNameFor(model => model.Customer.Position)

                                                </label>
                                            </div>
                                            <div class="col">
                                                <p>
                                                    @Html.DisplayFor(model => model.Customer.Position)

                                                </p>
                                            </div>
                                            <div class="w-100"></div>
                                            <div class="col">
                                                <label>
                                                    @Html.DisplayNameFor(model => model.Customer.AddressLineOne)

                                                </label>
                                            </div>
                                            <div class="col">
                                                <p>
                                                    @Html.DisplayFor(model => model.Customer.AddressLineOne)

                                                </p>
                                            </div>
                                            <div class="w-100"></div>
                                            <div class="col">
                                                <label>
                                                    @Html.DisplayNameFor(model => model.Customer.AddressLineTwo)

                                                </label>
                                            </div>
                                            <div class="col">
                                                <p>
                                                    @Html.DisplayFor(model => model.Customer.AddressLineTwo)

                                                </p>
                                            </div>
                                            <div class="w-100"></div>
                                            <div class="col">
                                                <label>
                                                    @Html.DisplayNameFor(model => model.Customer.City)

                                                </label>
                                            </div>
                                            <div class="col">
                                                <p>
                                                    @Html.DisplayFor(model => model.Customer.City)

                                                </p>
                                            </div>
                                            <div class="w-100"></div>
                                            <div class="col">
                                                <label>
                                                    @Html.DisplayNameFor(model => model.Customer.Province)

                                                </label>
                                            </div>
                                            <div class="col">
                                                <p>
                                                    @Html.DisplayFor(model => model.Customer.Province)

                                                </p>
                                            </div>
                                            <div class="w-100"></div>
                                            <div class="col">
                                                <label>
                                                    @Html.DisplayNameFor(model => model.Customer.Country)

                                                </label>
                                            </div>
                                            <div class="col">
                                                <p>
                                                    @Html.DisplayFor(model => model.Customer.Country)

                                                </p>
                                            </div>
                                            <div class="w-100"></div>
                                            <div class="col">
                                                <label>
                                                    @Html.DisplayNameFor(model => model.Customer.Phone)

                                                </label>
                                            </div>
                                            <div class="col">
                                                <p>
                                                    @Html.DisplayFor(model => model.Customer.Phone)
                                                </p>
                                            </div>
                                            <div class="w-100"></div>
                                            <div class="col">
                                                <label>
                                                    @Html.DisplayNameFor(model => model.Customer.Email)

                                                </label>
                                            </div>
                                            <div class="col">
                                                <p>
                                                    @Html.DisplayFor(model => model.Customer.Email)

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>=
            </div>
        </div>


    </div>
</div>