@model IEnumerable<OASIS.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <div class="row pb-3 pr-5 pl-5" style=" margin-left: 0.01%; background:#3f4853; align-items:center">
        <div class="col-1">
            <button type="button" data-toggle="collapse" id="filterToggle" data-target="#collapseFilter" data-placement="top" title="Filter" class="btn btn-light">
                <span class="material-icons">
                    filter_list
                </span>
            </button>
        </div>

        <div class="col-7 pl-0">
            <partial name="_PagingNavBar" />
        </div>
        <div class="col-2 justify-content-end mt-3">
            <div class="input-group" style=" float: right;">
                <button style="width:auto" type="submit" name="actionButton" value="Filter" class="btn btn-outline-light pb-0 pr-1 pl-1">
                    <span class="material-icons">
                        search
                    </span>
                </button>
                @Html.TextBox("QuickSearchName", null, new { @class = "form-control", placeholder = "Project Name", })
            </div>
        </div>

        <a asp-action="Create" style="display:flex; align-items:center; justify-content:center" class="btn btn-success col-2 align-items-center">
            <span class="material-icons mr-2">
                control_point
            </span>
            Add Project
        </a>

        <div class="col-12 collapse @(ViewData["Filtering"])" id="collapseFilter">
            <div style="background-color:white!important; border: 1px solid rgba(39,169,248,0.3)" class="card card-body bg-light">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Project Name:</label>
                            @Html.TextBox("SearchProjectName", null, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Customer Name:</label>
                            @Html.TextBox("SearchCustomerName", null, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Organization Name:</label>
                            @Html.TextBox("SearchOrg", null, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">City:</label>
                            @Html.TextBox("SearchCity", null, new { @class = "form-control" })
                        </div>
                    </div>

                </div>
                <div class="form-row">
                    <div class="col-md-6  align-self-end">
                        <div class="form-group">
                            <input style="width:20%;" type="submit" name="actionButton" value="Filter" class="btn btn-warning" />
                            <a style="width:20%; margin-left:2%;" asp-action="Index" class="btn btn-dark ">Clear</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


   

    <table class="table" style="background:white;">
        <thead>
            <tr>
                <th class="pl-5 pt-3">
                    @if (ViewData["sortField"].ToString().Contains("Project"))
                    {
                        <input type="submit" style="color:gold" name="actionButton" value="Project  (@Model.Count())" class="btn btn-link" />
                    }
                    else
                    {
                        <input type="submit" name="actionButton" value="Project  (@Model.Count())" class="btn btn-link" />


                    }
                </th>
                <th class="pl-0">
                    @if (ViewData["sortField"].ToString().Contains("Organization"))
                    {
                        <input type="submit" style="color:gold" name="actionButton" value="Organization" class="btn btn-link" />
                    }
                    else
                    {
                        <input type="submit" name="actionButton" value="Organization" class="btn btn-link" />


                    }
                </th>
                <th class="pl-0">
                    @if (ViewData["sortField"].ToString().Contains("City"))
                    {
                        <input type="submit" style="color:gold" name="actionButton" value="City" class="btn btn-link" />
                    }
                    else
                    {
                        <input type="submit" name="actionButton" value="City" class="btn btn-link" />


                    }
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>


                <td class="pl-5">
                    <div>
                        @Html.DisplayFor(modelItem => item.Name)

                    </div>
                </td>

                <td>
                    <div>
                        @Html.DisplayFor(modelItem => item.Customer.OrgName)

                    </div>
                </td>


                <td>
                    <div>
                        @Html.DisplayFor(modelItem => item.City)

                    </div>
                </td>

                <td style="text-align:center">
                    <a style="width:auto" asp-action="Edit" asp-route-id="@item.ID" class="btn btn-outline-primary mr-3">
                        <span class="material-icons">
                            edit
                        </span>
                    </a>

                    <a style="width:auto" asp-action="Details" asp-route-id="@item.ID" class="btn btn-outline-info">
                        <span class="material-icons">
                            info
                        </span>
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</form>

