@model IEnumerable<OASIS.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiteAddressLineOne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiteAddressLineTwo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Province)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SiteAddressLineOne)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SiteAddressLineTwo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Province)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.AddressLineOne)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script type="text/javascript">

        var homeSideBar = document.getElementById("project-side-bar").style.backgroundColor = "#7460ee";;
        var home = document.getElementById("project").style.backgroundColor = "#b8aff7";;
        var projectLogo = document.getElementById("projectLogo").src = "resources/project-alt.png"
        var text = document.getElementById("v-pills-projct-tab").style.color = "#7460ee";
        text.style.fontWeight = "700";
    </script>
}
