@model OASIS.Models.Bid

@{
    ViewData["Title"] = "Details";
}


<div style="padding: 0% 10% 0% 3%;">
    <div class="details-headings row" style="margin-bottom:2%;">
        <div style="width:50px;height:50px; margin-top: 0.8%;">
            <img src="~/resources/details.png" alt="Alternate Text" />
        </div>
        <div style="margin-left:1.8%;">
            <h2 style="color:#7460ee">@Model.DateCreated.ToShortDateString()</h2>
            <p>@Model.Project.Name  </p>
        </div>
        <partial name="_DetailsMenu">

    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div>

        <div class="row details-container">

            <div class="col-12 col-md-12 row inner-details-container-two">
                <ul style="width:50%;height: 50px; " class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a style="color:#00adef" class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Bid</a>
                    </li>
                    <li class="nav-item">
                        <a style="color:#00adef" class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Requirements</a>
                    </li>
                    <li class="nav-item">
                        <a style="color:#00adef" class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Project Info</a>
                    </li>

                </ul>

                <div class="container" style="margin-left:0">
                    <div class="col-md-12 tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h2 class="mb-0">
                                            <button class="collapse-card" style=" color: #7460ee;" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                <div class="details-headings row" style="margin-bottom:0px;">
                                                    <div class="details-headings-img-container">
                                                        <img src="~/resources/user-full-fill.png" alt="Alternate Text" />
                                                    </div>
                                                    <div>
                                                        <h3>Personal Information </h3>
                                                    </div>
                                                    <div style=" margin-left: 1.5%; margin-top: 0.5%;">
                                                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none" /><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z" /></svg>
                                                    </div>
                                                </div>
                                                <hr />
                                            </button>
                                        </h2>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <label>
                                                        @Html.DisplayNameFor(model => model.DateCreated)

                                                    </label>
                                                </div>
                                                <div class="col">
                                                    <p>
                                                        @Html.DisplayFor(model => model.DateCreated)
                                                    </p>
                                                </div>
                                                <div class="w-100"></div>
                                                <div class="col">
                                                    <label>

                                                        @Html.DisplayNameFor(model => model.BidStatusID)
                                                    </label>
                                                </div>
                                                <div class="col">
                                                    <p>
                                                        @Html.DisplayFor(model => model.BidStatus.Name)

                                                    </p>
                                                </div>
                                                <div class="w-100"></div>
                                                <div class="col">
                                                    <label>
                                                        @Html.DisplayNameFor(model => model.EstAmount)

                                                    </label>
                                                </div>
                                                <div class="col">
                                                    <p>
                                                        @Html.DisplayFor(model => model.EstAmount)

                                                    </p>
                                                </div>
                                                <div class="w-100"></div>
                                                <div class="col">
                                                    <label>
                                                        @Html.DisplayNameFor(model => model.EstBidStartDate)

                                                    </label>
                                                </div>
                                                <div class="col">
                                                    <p>
                                                        @Html.DisplayFor(model => model.EstBidStartDate)

                                                    </p>
                                                </div>
                                                <div class="w-100"></div>
                                                <div class="col">
                                                    <label>
                                                        @Html.DisplayNameFor(model => model.EstBidEndDate)

                                                    </label>
                                                </div>
                                                <div class="col">
                                                    <p>
                                                        @Html.DisplayFor(model => model.EstBidEndDate)

                                                    </p>
                                                </div>

                                                @if (Model.ProjectStartDate != null)
                                                {
                                                    <div class="w-100"></div>
                                                    <div class="col">
                                                        <label>
                                                            @Html.DisplayNameFor(model => model.ProjectStartDate)

                                                        </label>
                                                    </div>
                                                    <div class="col">
                                                        <p>
                                                            @Html.DisplayFor(model => model.ProjectStartDate)

                                                        </p>
                                                    </div>
                                                }

                                                @if (Model.ProjectEndDate != null)
                                                {
                                                    <div class="w-100"></div>
                                                    <div class="col">
                                                        <label>

                                                            @Html.DisplayNameFor(model => model.ProjectEndDate)
                                                        </label>
                                                    </div>
                                                    <div class="col">
                                                        <p>
                                                            @Html.DisplayFor(model => model.ProjectEndDate)

                                                        </p>
                                                    </div>
                                                }


                                                <div class="w-100"></div>
                                                <div class="col">
                                                    <label>

                                                        Designer
                                                    </label>
                                                </div>
                                                <div class="col">
                                                    <p>
                                                        @Html.DisplayFor(model => model.Designer.FullName)

                                                    </p>
                                                </div>
                                                <div class="w-100"></div>
                                                <div class="col">
                                                    <label>

                                                        Sales Asscociate
                                                    </label>
                                                </div>
                                                <div class="col">
                                                    <p>
                                                        @Html.DisplayFor(model => model.SalesAsscociate.FullName)

                                                    </p>
                                                </div>
                                                <div class="w-100"></div>
                                                <div class="col">
                                                    <label>
                                                        Notes
                                                    </label>
                                                </div>
                                                @if (Model.Comments != null)
                                                {
                                                    <div class="col">
                                                        <p>
                                                            @Html.TextAreaFor(model => model.Comments, new { @style = "height: 246px; background:transparent;margin:0px; ", @readonly = "readonly", @class = "form-control" })

                                                        </p>
                                                    </div>
                                                }
                                                else
                                                {

                                                    <div class="col">
                                                        <p>
                                                            No Notes

                                                        </p>
                                                    </div>
                                                }




                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h2 class="mb-0">
                                            <button class="collapse-card collapsed" style=" color: #7460ee; " type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                <div class="details-headings row" style="margin-bottom:0px;">
                                                    <div class="details-headings-img-container">
                                                        <img src="~/resources/location.png" alt="Alternate Text" />
                                                    </div>
                                                    <div>
                                                        <h3>Address Information</h3>
                                                    </div>
                                                    <div style=" margin-left: 1.5%; margin-top: 0.5%;">
                                                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none" /><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z" /></svg>
                                                    </div>
                                                </div>
                                                <hr />

                                            </button>
                                        </h2>
                                    </div>

                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                        <div class="card-body">

                                            <div class="row">
                                                <div class="col">
                                                    <label>

                                                        Client Status
                                                    </label>
                                                </div>
                                                <div class="col">
                                                    <p>
                                                        @ViewBag.ClientStatus

                                                    </p>
                                                </div>
                                                <div class="w-100"></div>
                                                <div class="col">
                                                    <label>
                                                        Lead Designer Status
                                                    </label>
                                                </div>
                                                <div class="col">
                                                    <p>
                                                        @ViewBag.DesignerStatus

                                                    </p>
                                                </div>
                                                <div class="w-100"></div>
                                                <div class="col">
                                                    <label>
                                                        @Html.NameFor(model => model.Approval.Comments)
                                                    </label>
                                                </div>

                                                @if (Model.Comments != null)
                                                {
                                                    <div class="col">
                                                        <p>
                                                            @Html.TextAreaFor(model => model.Approval.Comments, new { @style = "height: 246px; background:transparent; margin:0px; ", @readonly = "readonly", @class = "form-control" })

                                                        </p>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col">
                                                        <p>
                                                            No Comments
                                                        </p>
                                                    </div>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-12 tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h2 class="mb-0">
                                            <button class="collapse-card" style=" color: #7460ee;" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                <div class="details-headings row" style="margin-bottom:0px;">
                                                    <div class="details-headings-img-container">
                                                        <img src="~/resources/user-full-fill.png" alt="Alternate Text" />
                                                    </div>
                                                    <div>
                                                        <h3>Products</h3>
                                                    </div>
                                                    <div style=" margin-left: 1.5%; margin-top: 0.5%;">
                                                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none" /><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z" /></svg>
                                                    </div>
                                                </div>
                                                <hr />
                                            </button>
                                        </h2>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="container-table100">

                                            <div class="wrap-table100">
                                                <div class="table100">
                                                    <table>
                                                        <thead>
                                                            <tr class="table100-head">
                                                                <th class="column1">Code</th>
                                                                <th class="column2">Description </th>
                                                                <th class="column3">Size</th>
                                                                <th class="column4">Price</th>
                                                                <th class="column5">Quantity</th>
                                                                <th class="column6">Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var i in ViewBag.products)
                                                            {
                                                                <tr>
                                                                    <td class="column1">@i.Code</td>
                                                                    <td class="column2">@i.Description</td>
                                                                    <td class="column3">@i.Size</td>
                                                                    <td class="column4">$@i.Price.ToString()</td>
                                                                    <td class="column5">x @i.Quantity.ToString()</td>
                                                                    <td class="column6">$   @i.Total</td>
                                                                </tr>
                                                            }

                                                            <tr>
                                                                <td class="column1"></td>
                                                                <td class="column2"></td>
                                                                <td class="column3"></td>
                                                                <td class="column4"></td>
                                                                <td class="column5" style="color:#7460ee">Total</td>
                                                                <td class="column6" style="color:#7460ee">$@ViewBag.productTotal</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h2 class="mb-0">
                                            <button class="collapse-card collapsed" style=" color: #7460ee; " type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                <div class="details-headings row" style="margin-bottom:0px;">
                                                    <div class="details-headings-img-container">
                                                        <img src="~/resources/location.png" alt="Alternate Text" />
                                                    </div>
                                                    <div>
                                                        <h3>Labour</h3>
                                                    </div>
                                                    <div style=" margin-left: 1.5%; margin-top: 0.5%;">
                                                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none" /><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z" /></svg>
                                                    </div>
                                                </div>
                                                <hr />

                                            </button>
                                        </h2>
                                    </div>

                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                        <div class="container-table100">

                                            <div class="wrap-table100">
                                                <div class="table100">
                                                    <table>
                                                        <thead>
                                                            <tr class="table100-head">
                                                                <th class="column1">Role</th>
                                                                <th class="column4">Price </th>
                                                                <th class="column5">Hours</th>
                                                                <th class="column6">Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var i in ViewBag.Labour)
                                                            {
                                                                <tr>
                                                                    <td class="column1">@i.Name</td>
                                                                    <td class="column4">@i.Price</td>
                                                                    <td class="column5">x @i.Hours</td>
                                                                    <td class="column6">$@i.Total</td>

                                                                </tr>
                                                            }

                                                            <tr>
                                                                <td class="column1"></td>
                                                                <td class="column4"></td>
                                                                <td class="column5" style="color:#7460ee">Total</td>
                                                                <td class="column6" style="color:#7460ee">$@ViewBag.LabourtTotal</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-12 tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h2 class="mb-0">
                                            <button class="collapse-card" style=" color: #7460ee;" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                <div class="details-headings row" style="margin-bottom:0px;">
                                                    <div class="details-headings-img-container">
                                                        <img src="~/resources/user-full-fill.png" alt="Alternate Text" />
                                                    </div>
                                                    <div>
                                                        <h3>Project Info</h3>
                                                    </div>
                                                    <div style=" margin-left: 1.5%; margin-top: 0.5%;">
                                                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none" /><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z" /></svg>
                                                    </div>
                                                </div>
                                                <hr />
                                            </button>
                                        </h2>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <label>
                                                        @Html.DisplayNameFor(model => model.Project.Name)

                                                    </label>
                                                </div>
                                                <div class="col">
                                                    <p>
                                                        @Html.DisplayFor(model => model.Project.Name)
                                                    </p>
                                                </div>
                                                <div class="w-100"></div>
                                                <div class="col">
                                                    <label>

                                                        @Html.DisplayNameFor(model => model.Project.SiteAddressLineOne)
                                                    </label>
                                                </div>
                                                <div class="col">
                                                    <p>
                                                        @Html.DisplayFor(model => model.Project.SiteAddressLineOne)

                                                    </p>
                                                </div>
                                                <div class="w-100"></div>
                                                <div class="col">
                                                    <label>
                                                        @Html.DisplayNameFor(model => model.Project.SiteAddressLineTwo)

                                                    </label>
                                                </div>
                                                @if (Model.Project.SiteAddressLineTwo != null)
                                                {

                                                    <div class="col">
                                                        <p>
                                                            @Html.DisplayFor(model => model.Project.SiteAddressLineTwo)

                                                        </p>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col">
                                                        <p>
                                                            No Address
                                                        </p>
                                                    </div>
                                                }



                                                <div class="w-100"></div>
                                                <div class="col">
                                                    <label>
                                                        @Html.DisplayNameFor(model => model.Project.City)

                                                    </label>
                                                </div>
                                                <div class="col">
                                                    <p>
                                                        @Html.DisplayFor(model => model.Project.City)

                                                    </p>
                                                </div>
                                                <div class="w-100"></div>
                                                <div class="col">
                                                    <label>
                                                        @Html.DisplayNameFor(model => model.Project.Province)

                                                    </label>
                                                </div>
                                                <div class="col">
                                                    <p>
                                                        @Html.DisplayFor(model => model.Project.Province)

                                                    </p>
                                                </div>
                                                <div class="w-100"></div>


                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h2 class="mb-0">
                                            <button class="collapse-card collapsed" style=" color: #7460ee; " type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                                <div class="details-headings row" style="margin-bottom:0px;">
                                                    <div class="details-headings-img-container">
                                                        <img src="~/resources/location.png" alt="Alternate Text" />
                                                    </div>
                                                    <div>
                                                        <h3>Customer Info</h3>
                                                    </div>
                                                    <div style=" margin-left: 1.5%; margin-top: 0.5%;">
                                                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none" /><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z" /></svg>
                                                    </div>
                                                </div>
                                                <hr />

                                            </button>
                                        </h2>
                                    </div>

                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col">
                                                    <label>
                                                        @Html.DisplayNameFor(model => model.Project.Customer.FirstName)

                                                    </label>
                                                </div>
                                                <div class="col">
                                                    <p>
                                                        @Html.DisplayFor(model => model.Project.Customer.FirstName)
                                                    </p>
                                                </div>
                                                <div class="w-100"></div>
                                                <div class="col">
                                                    <label>
                                                        @Html.DisplayNameFor(model => model.Project.Customer.LastName)

                                                    </label>
                                                </div>
                                                <div class="col">
                                                    <p>
                                                        @Html.DisplayFor(model => model.Project.Customer.LastName)

                                                    </p>
                                                </div>
                                                <div class="w-100"></div>
                                                <div class="col">
                                                    <label>
                                                        @Html.DisplayNameFor(model => model.Project.Customer.MiddleName)

                                                    </label>
                                                </div>
                                                <div class="col">
                                                    <p>
                                                        @Html.DisplayFor(model => model.Project.Customer.MiddleName)

                                                    </p>
                                                </div>
                                                <div class="w-100"></div>
                                                <div class="col">
                                                    <label>
                                                        @Html.DisplayNameFor(model => model.Project.Customer.OrgName)

                                                    </label>
                                                </div>
                                                <div class="col">
                                                    <p>
                                                        @Html.DisplayFor(model => model.Project.Customer.OrgName)

                                                    </p>
                                                </div>
                                                <div class="w-100"></div>
                                                <div class="col">
                                                    <label>
                                                        @Html.DisplayNameFor(model => model.Project.Customer.Position)

                                                    </label>
                                                </div>
                                                <div class="col">
                                                    <p>
                                                        @Html.DisplayFor(model => model.Project.Customer.Position)

                                                    </p>
                                                </div>
                                                <div class="w-100"></div>
                                                <div class="col">
                                                    <label>

                                                        @Html.DisplayNameFor(model => model.Project.Customer.Phone)
                                                    </label>
                                                </div>
                                                <div class="col">
                                                    <p>
                                                        @Html.DisplayFor(model => model.Project.Customer.Phone)

                                                    </p>
                                                </div>
                                                <div class="w-100"></div>
                                                <div class="col">
                                                    <label>
                                                        @Html.DisplayNameFor(model => model.Project.Customer.Email)

                                                    </label>
                                                </div>
                                                <div class="col">
                                                    <p>
                                                        @Html.DisplayFor(model => model.Project.Customer.Email)

                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
