@model OASIS.Models.Bid

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Bid</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstAmount" class="control-label"></label>
                <input asp-for="EstAmount" class="form-control" />
                <span asp-validation-for="EstAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectStartDate" class="control-label"></label>
                <input asp-for="ProjectStartDate" class="form-control" />
                <span asp-validation-for="ProjectStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectEndDate" class="control-label"></label>
                <input asp-for="ProjectEndDate" class="form-control" />
                <span asp-validation-for="ProjectEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstBidStartDate" class="control-label"></label>
                <input asp-for="EstBidStartDate" class="form-control" />
                <span asp-validation-for="EstBidStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstBidEndDate" class="control-label"></label>
                <input asp-for="EstBidEndDate" class="form-control" />
                <span asp-validation-for="EstBidEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="comments" class="control-label"></label>
                <textarea asp-for="comments" class="form-control"></textarea>
                <span asp-validation-for="comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DesignerID" class="control-label"></label>
                <select asp-for="DesignerID" class="form-control" asp-items="ViewBag.DesignerID"></select>
                <span asp-validation-for="DesignerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalesAsscociateID" class="control-label"></label>
                <select asp-for="SalesAsscociateID" class="form-control" asp-items="ViewBag.SalesAsscociateID"></select>
                <span asp-validation-for="SalesAsscociateID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectID" class="control-label"></label>
                <select asp-for="ProjectID" class="form-control" asp-items="ViewBag.ProjectID"></select>
                <span asp-validation-for="ProjectID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BidStatusID" class="control-label"></label>
                <select asp-for="BidStatusID" class="form-control" asp-items="ViewBag.BidStatusID"></select>
                <span asp-validation-for="BidStatusID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="ClientStatusID" class="control-label"></label>
                <select name="ClientStatusID" class="form-control" asp-items="ViewBag.ClientStatusID"></select>
            </div>
            <div class="form-group">
                <label for="DesignerStatusID" class="control-label"></label>
                <select name="DesignerStatusID" class="form-control" asp-items="ViewBag.DesignerStatusID"></select>
            </div>
            <div class="form-group">
                <label for="approvalComment" class="control-label">Approval Comments</label>
                <textarea name="approvalComment" class="form-control">@ViewData["approvalComment"]</textarea>
                <span asp-validation-for="Approval.Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" id="btnSubmit" value="Save" class="btn btn-primary" />
            </div>

            @*<div class="col-md-8">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label"> Products Required</label> <button type="button" id="btnRight" class="btn btn-danger btn-sm">
                                <strong>-</strong>
                            </button>
                            @Html.ListBox("selectedOptions", (MultiSelectList)ViewBag.selOpts, new { @size = 10, @class = "form-control" })
                        </div>

                        <div class="form-group col-md-6">
                            <label class="control-label"> Choose Products</label> <button type="button" id="btnLeft" class="btn btn-success btn-sm">
                                <strong>+</strong>
                            </button>
                            @Html.ListBox("availOptions", (MultiSelectList)ViewBag.availOpts, new { @size = 10, @class = "form-control" })
                        </div>
                    </div>
                </div>*@

            <label class="control-label">Choose Products</label> <button type="button" id="btnRemove" class="btn btn-success btn-sm">
            </button>
            <div class="form-group col-md-6" style="display:flex">

                @Html.ListBox("selectedProducts", (MultiSelectList)ViewBag.selOpts, new { @size = 5, @class = "form-control", @style = "overflow-y: hidden;" })


                @Html.ListBox("selectedQuantity", (MultiSelectList)ViewBag.qntyOpts, new { @size = 5, @class = "form-control", @style = "overflow-y: hidden;" })
            </div>




            <div class="input-group mb-3" style="margin-bottom:60px;">
                <div class="input-group-prepend">
                    <select class="btn btn-outline-secondary" id="ProductTypeID" name="ProductTypeID" asp-items="ViewBag.ProductTypeID">
                        <option value="">All Product Types</option>
                    </select>
                </div>

                <div class="input-group mb-3" style="width:80%; margin:0px!important;">
                    <select style="margin:0" class="form-control" id="ProductID" name="ProductID" asp-items="ViewBag.ProductID">
                        <option value="">select a Product</option>
                    </select>
                    <div class="input-group-append">
                        <label class="input-group-text" for="inputGroupSelect02">Quantity</label>
                    </div>
                    <input style="margin:0" id="ProductQuantity" type="text" class="form-control" placeholder="Quantity" aria-label="Quantity" aria-describedby="basic-addon1">
                    <button id="btnAddProduct" class="btn btn-outline-secondary" type="button">+</button>
                </div>

            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @*<script src="~/js/multiselect.js"></script>*@
    <script src="~/js/addProducts.js"></script>
    <script src="~/js/refreshDDL.js"></script>
    <script type="text/javascript">
        $('#ProductTypeID').change(function () {
            var selectedProduct = $("#ProductTypeID").val();
            var URL = "/Bids/GetProducts/" + selectedProduct;
            refreshDDL('ProductID', URL, true);
        });
    </script>
}