@model IEnumerable<OASIS.Models.Bid>

@{
    ViewData["Title"] = "Index";
}

<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <div class="flex-container">

        <div class="inner-flex-container-left">
            <div class="inner-flex-container-left-items">
                <strong>Total Customers : <span> @Model.Count()</span></strong>
            </div>
            <div class="inner-flex-container-left-items">
                <strong>Sorted by : <span>@ViewData["sortField"]</span> </strong>
            </div>
        </div>

        <div class="inner-flex-container-right">

            <button type="button" data-toggle="collapse" id="filterToggle" data-target="#collapseFilter" class="inner-flex-container-right-items" style=" width:30%; background-color:white">

                <div style="width:60%;text-align:center">
                    <p>Filter</p>
                </div>
                <div style="width:40%;">
                    <svg style="width:50%; height:50%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="svg" version="1.1" width="400" height="400" viewBox="0, 0, 400,400">
                        <g id="svgg">
                            <path id="path0" d="M0.000 89.000 L 0.000 112.000 200.000 112.000 L 400.000 112.000 400.000 89.000 L 400.000 66.000 200.000 66.000 L 0.000 66.000 0.000 89.000 M66.000 200.000 L 66.000 223.200 200.000 223.200 L 334.000 223.200 334.000 200.000 L 334.000 176.800 200.000 176.800 L 66.000 176.800 66.000 200.000 M155.200 311.000 L 155.200 334.000 200.000 334.000 L 244.800 334.000 244.800 311.000 L 244.800 288.000 200.000 288.000 L 155.200 288.000 155.200 311.000 " stroke="none" fill="#040404" fill-rule="evenodd" />
                            <path id="path1" d="" stroke="none" fill="#080404" fill-rule="evenodd" />
                            <path id="path2" d="" stroke="none" fill="#080404" fill-rule="evenodd" />
                            <path id="path3" d="" stroke="none" fill="#080404" fill-rule="evenodd" />
                            <path id="path4" d="" stroke="none" fill="#080404" fill-rule="evenodd" />
                        </g>
                    </svg>
                </div>

            </button>

            <a asp-action="Create" class="inner-flex-container-right-items" style=" width:48%; background-color:#27a9f8">
                <div style="width:40%;text-align:right">
                    <svg style="width:50%; height:50%;" version="1.0" xmlns="http://www.w3.org/2000/svg"
                         width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000"
                         preserveAspectRatio="xMidYMid meet">
                        <metadata>
                            Created by potrace 1.16, written by Peter Selinger 2001-2019
                        </metadata>
                        <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                           fill="#f8f9fa" stroke="none">
                            <path d="M1654 5109 c-86 -25 -181 -122 -204 -210 -7 -25 -10 -133 -8 -282 3
-235 4 -243 26 -275 13 -18 41 -41 62 -52 38 -19 61 -20 654 -20 410 0 624 4
643 11 38 14 83 57 99 96 8 18 14 66 14 108 l0 75 401 0 401 0 29 -29 c24 -24
29 -38 29 -76 l0 -46 -37 8 c-21 4 -92 7 -158 6 -270 -1 -497 -101 -686 -301
-128 -135 -203 -279 -241 -460 -28 -136 -21 -328 17 -457 98 -335 361 -588
696 -670 82 -20 288 -30 357 -17 l52 9 0 -1153 0 -1154 -29 -32 -29 -33 -1514
-3 c-832 -2 -1533 0 -1557 3 -26 4 -53 16 -67 30 l-24 24 0 2149 c0 2101 0
2150 19 2173 19 24 19 24 310 29 284 5 291 6 313 27 31 31 30 89 -2 115 -22
18 -40 19 -330 16 l-307 -3 -49 -30 c-33 -21 -60 -48 -81 -85 l-33 -54 0
-2182 c0 -2380 -4 -2212 56 -2283 15 -18 48 -43 75 -56 l48 -25 1588 0 c1516
0 1590 1 1628 19 48 22 97 70 122 120 17 34 18 104 21 1233 l2 1198 64 29
c131 59 271 174 363 296 108 143 181 346 184 512 2 62 -1 69 -26 91 -22 18
-35 22 -59 18 -52 -11 -65 -33 -77 -131 -22 -197 -107 -366 -253 -502 -156
-147 -365 -222 -581 -210 -117 7 -191 25 -295 73 -160 74 -296 208 -376 369
-57 116 -75 186 -81 316 -12 239 75 452 251 616 110 102 217 160 367 199 86
23 261 23 354 0 70 -18 275 -110 275 -124 0 -4 -112 -119 -250 -257 l-249
-249 -135 132 c-153 151 -188 171 -287 172 -147 0 -248 -101 -248 -250 -1 -97
18 -123 277 -383 130 -131 255 -248 277 -260 57 -30 174 -30 230 0 23 12 247
230 517 500 515 516 517 519 518 623 0 107 -77 213 -176 240 -53 15 -149 9
-190 -13 -16 -8 -59 -42 -95 -76 l-67 -61 -81 50 c-46 27 -98 54 -117 60 l-34
12 0 75 c0 98 -15 144 -64 200 -74 84 -64 83 -537 83 l-416 0 -5 83 c-6 109
-34 172 -104 236 -90 83 -77 81 -648 80 -276 0 -515 -5 -532 -10z m990 -149
c45 -10 81 -34 110 -74 20 -26 21 -41 21 -239 l0 -212 -587 -3 -588 -2 0 206
c0 169 3 212 16 240 20 42 65 75 113 85 54 10 870 10 915 -1z m1887 -749 c20
-21 29 -39 29 -63 0 -30 -40 -73 -475 -508 -471 -471 -475 -475 -515 -475 -40
0 -46 6 -275 236 -206 206 -235 239 -235 266 0 48 43 93 88 93 33 0 49 -13
208 -170 169 -168 172 -170 215 -170 l43 0 411 410 c374 374 414 410 444 410
23 0 41 -9 62 -29z" />
                            <path d="M841 3984 c-24 -30 -26 -52 -9 -89 18 -41 64 -47 349 -43 252 3 259
4 281 25 28 28 29 84 3 113 -17 19 -28 20 -311 20 l-293 0 -20 -26z" />
                            <path d="M922 3270 c-113 -57 -166 -144 -166 -275 -1 -65 4 -89 24 -130 113
-232 437 -234 557 -3 23 45 27 65 27 133 0 131 -53 218 -166 275 -52 26 -72
30 -138 30 -66 0 -86 -4 -138 -30z m216 -152 c34 -21 71 -84 72 -122 1 -67
-80 -146 -150 -146 -50 0 -107 37 -130 85 -25 51 -25 69 0 122 35 79 133 108
208 61z" />
                            <path d="M1495 3215 c-16 -15 -25 -36 -25 -55 0 -19 9 -40 25 -55 l24 -25 489
0 489 0 21 23 c32 34 30 89 -4 116 -26 21 -36 21 -511 21 l-484 0 -24 -25z" />
                            <path d="M1495 2865 c-16 -15 -25 -36 -25 -55 0 -19 9 -40 25 -55 l24 -25 484
0 c475 0 485 0 511 21 34 27 37 88 4 119 -21 20 -32 20 -510 20 l-489 0 -24
-25z" />
                            <path d="M957 2366 c-135 -49 -221 -189 -202 -330 14 -108 70 -187 167 -236
52 -26 72 -30 138 -30 66 0 86 4 139 31 68 34 130 101 153 166 21 63 16 180
-12 238 -33 68 -99 129 -166 154 -64 24 -160 27 -217 7z m174 -168 c25 -14 46
-37 59 -63 25 -51 25 -69 1 -121 -53 -117 -220 -111 -266 10 -49 128 86 242
206 174z" />
                            <path d="M1495 2305 c-33 -32 -34 -83 -2 -113 l23 -22 651 0 652 0 20 26 c28
36 27 79 -4 109 l-24 25 -646 0 -646 0 -24 -25z" />
                            <path d="M1495 1955 c-16 -15 -25 -36 -25 -55 0 -19 9 -40 25 -55 l24 -25 339
0 339 0 21 23 c30 32 29 87 -1 115 -23 22 -28 22 -361 22 l-337 0 -24 -25z" />
                            <path d="M962 1455 c-77 -24 -134 -75 -179 -160 -23 -42 -27 -63 -27 -130 -1
-68 3 -89 27 -137 112 -228 442 -229 554 0 23 46 27 70 27 132 1 99 -27 163
-101 230 -82 75 -193 99 -301 65z m157 -160 c41 -20 79 -70 87 -110 9 -47 -29
-123 -74 -149 -96 -55 -217 15 -217 126 0 104 116 179 204 133z" />
                            <path d="M1515 1409 c-51 -28 -61 -90 -22 -127 23 -22 24 -22 515 -22 479 0
493 1 512 20 28 28 27 90 -1 116 -20 18 -45 19 -503 21 -338 2 -487 -1 -501
-8z" />
                            <path d="M1513 1060 c-47 -19 -58 -92 -20 -128 l23 -22 651 0 652 0 20 26 c26
33 27 75 2 105 l-19 24 -644 2 c-359 1 -653 -2 -665 -7z" />
                        </g>
                    </svg>
                </div>

                <div style="width:100%;text-align:center">
                    <p>Add Project</p>
                </div>
            </a>

            <div class="inner-flex-container-right-items" id="moreOptions" style="width:10%;background-color: rgba(39,169,248,0.25)">
                <div style="width:100%">
                    <img style="width:100%" ;height="100%" src="~/resources/moreOptions.png" alt="Alternate Text" />
                </div>

            </div>
        </div>

    </div>

    <div class="collapse @(ViewData["Filtering"])" id="collapseFilter">
        <div style="background-color:white!important; border: 1px solid rgba(39,169,248,0.3)" class="card card-body bg-light">
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Project Name:</label>
                        @Html.TextBox("SearchProjectName", null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Designation:</label>
                        @Html.DropDownList("BidstatusID", null, "All Bids", htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Bid Amount Above:</label>
                        @Html.TextBox("BidAmountAbove", null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Bid Amount Below:</label>
                        @Html.TextBox("BidAmountBelow", null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Est Start Date Above:</label>
                        @Html.TextBox("EstStartDateAbove", null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Est Start Date Below:</label>
                        @Html.TextBox("EstStartDateBelow", null, new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Est Finish Date Above:</label>
                        @Html.TextBox("EstFinishDateAbove", null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Est Finish Date Below:</label>
                        @Html.TextBox("EstFinishDateBelow", null, new { @class = "form-control" })
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Designer:</label>
                        @Html.DropDownList("DesignerID", null, "All Designer", htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Sales Associate:</label>
                        @Html.DropDownList("SalesAsscID", null, "All Sales Associate", htmlAttributes: new { @class = "form-control" })

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Designer Status</label>
                        @Html.DropDownList("DesignerStatusID", null, "All Status", htmlAttributes: new { @class = "form-control" })

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Client Status:</label>
                        @Html.DropDownList("ClientStatusID", null, "All Status", htmlAttributes: new { @class = "form-control" })

                    </div>
                </div>


            </div>
            <div class="form-row">
                <div class="col-md-6  align-self-end">
                    <div class="form-group">
                        <input style="width:20%;" type="submit" name="actionButton" value="Filter" class="btn btn-warning" />
                        <a style="width:20%; margin-left:2%;" asp-action="Index" class="btn btn-dark ">Clear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <input type="submit" name="actionButton" value="CreatedOn" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Project" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Organization" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Amount" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Designer" class="btn btn-link" />
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <div>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </div>
                </td>

                <td>
                    <div>
                        @Html.DisplayFor(modelItem => item.Project.Name)

                    </div>
                </td>

                <td>
                    <div>
                        @Html.DisplayFor(modelItem => item.Project.Customer.OrgName)
                    </div>
                </td>

                <td>
                    <div>
                        @Html.DisplayFor(modelItem => item.EstAmount)
                    </div>
                </td>

                <td>
                    <div>
                        @Html.DisplayFor(modelItem => item.Designer.FullName)
                    </div>
                </td>

                <td style="padding-top:0px; position:relative" class="table-row-img">
                    <img id="@item.ID" src="~/resources/moreOptions.png" class="ddl-icon" onclick="divVisibility(@item.ID)" alt="Alternate Text" />
                    <div id="@item.ID-ddl" class="index-drop-down-menu" style="height:95px">
                        <a asp-action="Edit" asp-route-id="@item.ID" class="index-drop-down-menu-flex-container">
                            <div class="index-drop-down-menu-flex-container-img">
                                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                                     width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000"
                                     preserveAspectRatio="xMidYMid meet">
                                    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                                       fill="#000000" stroke="none">
                                        <path d="M3625 5106 c-63 -29 -98 -90 -110 -192 l-7 -61 -99 -40 -99 -40 -59
                        43 c-82 61 -166 74 -236 36 -11 -6 -68 -59 -126 -119 -103 -104 -129 -145
                        -129 -203 0 -38 24 -91 64 -145 l44 -59 -28 -60 c-15 -34 -32 -77 -39 -97 -12
                        -36 -13 -37 -87 -48 -87 -13 -122 -28 -157 -71 -38 -44 -47 -89 -47 -230 0
                        -144 9 -187 51 -234 35 -41 83 -61 166 -71 60 -7 62 -8 74 -43 6 -21 24 -64
                        39 -98 l27 -61 -43 -58 c-67 -90 -78 -159 -37 -240 23 -44 171 -193 223 -223
                        34 -21 58 -27 102 -27 53 0 63 4 131 51 68 48 75 51 98 38 13 -7 56 -25 96
                        -40 l71 -26 7 -62 c13 -116 62 -184 148 -207 64 -17 314 -8 353 14 66 35 94
                        87 109 204 6 49 9 53 43 64 21 6 64 24 98 39 l61 27 58 -43 c54 -40 107 -64
                        145 -64 58 0 99 26 203 129 60 58 114 117 121 131 38 74 26 146 -39 233 l-42
                        57 40 99 40 99 61 7 c112 13 187 65 201 138 4 18 5 105 3 193 -3 158 -3 161
                        -31 197 -37 48 -70 65 -161 78 l-74 11 -18 47 c-9 25 -27 68 -40 95 -13 27
                        -21 54 -17 60 4 6 23 34 44 61 59 79 70 154 33 225 -22 45 -227 238 -259 245
                        -17 4 -35 8 -41 10 -33 10 -111 -18 -167 -60 l-60 -44 -36 15 c-50 22 -123 51
                        -142 57 -12 4 -20 27 -28 82 -13 92 -29 125 -78 162 -36 28 -37 28 -212 30
                        -132 2 -184 -1 -206 -11z m280 -273 c8 -72 30 -126 63 -156 11 -10 60 -33 109
                        -51 48 -18 113 -46 143 -62 41 -21 69 -28 110 -28 58 0 85 11 158 66 l43 32
                        51 -52 52 -51 -32 -43 c-55 -73 -66 -100 -66 -158 0 -41 7 -69 28 -110 16 -30
                        44 -95 62 -143 18 -49 41 -98 51 -109 27 -31 90 -56 161 -64 l62 -7 0 -77 0
                        -78 -62 -7 c-77 -8 -141 -37 -168 -76 -12 -16 -31 -59 -44 -96 -13 -38 -38
                        -97 -56 -133 -57 -110 -47 -181 42 -293 l22 -27 -49 -50 c-27 -28 -53 -50 -58
                        -50 -4 0 -31 18 -60 39 -92 69 -152 73 -262 18 -33 -16 -90 -40 -128 -53 -122
                        -42 -159 -86 -173 -211 l-7 -63 -77 0 -78 0 -7 63 c-12 112 -64 183 -150 203
                        -16 4 -75 27 -130 52 -145 66 -192 63 -303 -20 l-43 -32 -51 52 -52 51 32 43
                        c83 111 86 158 20 303 -25 55 -48 114 -52 130 -20 86 -91 138 -203 150 l-63 7
                        0 78 0 77 63 7 c76 9 140 38 167 77 12 16 31 59 44 96 13 38 37 95 53 128 55
                        110 51 170 -18 262 -21 29 -39 56 -39 60 0 5 22 31 50 58 l50 49 27 -22 c112
                        -89 183 -99 293 -42 36 18 95 43 133 56 37 13 80 32 96 44 39 27 68 91 76 168
                        l7 62 78 0 78 0 7 -67z" />
                                        <path d="M3699 4272 c-350 -92 -465 -527 -208 -784 181 -181 477 -182 658 -1
                        183 184 185 480 2 661 -69 70 -139 108 -228 127 -88 19 -142 18 -224 -3z m204
                        -216 c94 -34 156 -116 164 -220 9 -104 -43 -192 -139 -240 -164 -82 -357 39
                        -358 224 0 171 172 293 333 236z" />
                                        <path d="M1195 3390 c-68 -17 -352 -143 -378 -168 -72 -68 -84 -154 -43 -306
                        l24 -89 -37 -30 c-42 -36 -191 -189 -191 -197 0 -3 -52 7 -117 23 -107 27
                        -121 28 -171 17 -44 -10 -64 -21 -101 -59 -39 -40 -56 -71 -114 -214 -75 -186
                        -84 -245 -48 -322 23 -50 45 -69 152 -133 l85 -51 0 -166 -1 -165 -85 -51
                        c-101 -60 -126 -82 -151 -131 -36 -71 -27 -138 42 -304 74 -179 90 -213 121
                        -240 65 -60 145 -68 294 -30 l90 23 54 -62 c29 -34 81 -86 115 -115 l62 -54
                        -23 -90 c-39 -153 -28 -243 38 -302 30 -28 57 -41 231 -113 167 -69 234 -78
                        305 -42 49 25 71 50 131 151 l51 85 165 1 165 1 52 -86 c64 -107 83 -129 133
                        -152 78 -36 137 -27 323 48 141 58 174 75 213 114 38 37 49 57 59 101 11 50
                        10 64 -17 171 -16 65 -26 117 -23 117 8 0 161 149 197 191 l30 37 89 -24 c152
                        -41 238 -29 306 43 30 31 162 339 173 402 10 61 -16 138 -62 182 -21 20 -74
                        57 -117 83 l-80 45 0 166 -1 166 79 46 c144 85 180 133 180 238 -1 51 -11 85
                        -72 230 -84 199 -118 242 -211 265 -49 12 -62 10 -166 -15 l-112 -28 -117 118
                        -118 118 27 111 c25 100 26 115 15 165 -21 94 -64 129 -263 211 -194 80 -219
                        86 -285 70 -69 -16 -114 -58 -176 -163 l-54 -92 -166 1 -167 0 -45 80 c-62
                        106 -106 151 -168 169 -54 16 -75 17 -121 5z m106 -341 c45 -75 66 -100 104
                        -124 l48 -30 226 -1 c124 -1 242 3 261 9 59 16 98 54 156 152 30 52 56 95 58
                        95 6 0 237 -97 242 -102 2 -3 -7 -52 -21 -109 -42 -165 -23 -227 103 -332 39
                        -32 97 -90 129 -129 105 -126 163 -145 328 -103 59 14 109 24 113 21 4 -5 102
                        -236 102 -242 0 -2 -43 -28 -95 -58 -98 -58 -135 -97 -153 -156 -5 -20 -9
                        -134 -8 -261 l1 -226 30 -48 c24 -38 49 -59 119 -101 49 -29 93 -57 97 -61 7
                        -7 -79 -234 -94 -250 -3 -2 -47 7 -98 21 -185 51 -198 46 -410 -166 -161 -161
                        -168 -170 -180 -223 -11 -51 -10 -65 15 -166 16 -61 26 -112 24 -114 -4 -4
                        -104 -47 -200 -85 l-46 -19 -55 92 c-99 166 -98 165 -414 163 l-241 -1 -44
                        -30 c-30 -22 -60 -59 -100 -125 -32 -53 -63 -94 -70 -92 -14 3 -231 92 -236
                        97 -2 1 8 47 22 101 49 187 47 193 -164 404 -211 211 -217 213 -404 164 -54
                        -14 -100 -24 -101 -22 -5 5 -94 222 -97 236 -2 7 39 38 92 70 66 40 103 70
                        125 100 l30 44 1 241 c2 316 3 315 -163 414 l-92 55 19 46 c39 98 81 196 85
                        200 2 3 54 -8 115 -23 102 -26 114 -27 168 -15 52 11 63 19 132 92 41 44 98
                        101 125 127 168 155 179 188 129 370 -14 51 -24 95 -22 97 10 9 234 102 243
                        100 5 -1 35 -45 66 -97z" />
                                        <path d="M1530 2464 c-233 -50 -431 -205 -536 -419 -64 -131 -79 -196 -78
                        -350 0 -104 4 -146 22 -208 77 -270 278 -471 548 -549 103 -30 304 -32 404 -5
                        338 91 572 379 588 723 15 342 -174 642 -485 769 -131 53 -324 69 -463 39z
                        m351 -256 c216 -80 359 -284 359 -513 0 -293 -250 -544 -542 -545 -294 -1
                        -549 254 -548 548 1 238 174 460 411 527 81 23 235 14 320 -17z" />
                                    </g>
                                </svg>
                            </div>
                            <p>Edit</p>
                        </a>

                        <a asp-action="Details" asp-route-id="@item.ID" class="index-drop-down-menu-flex-container">
                            <div class="index-drop-down-menu-flex-container-img">
                                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                                     width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000"
                                     preserveAspectRatio="xMidYMid meet">

                                    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                                       fill="#000000" stroke="none">
                                        <path d="M1770 5109 c-201 -26 -461 -104 -634 -191 -623 -313 -1042 -899
                                -1126 -1578 -15 -125 -12 -405 5 -529 64 -442 265 -841 582 -1157 224 -223
                                468 -375 777 -483 610 -214 1321 -105 1852 285 l71 52 724 -725 c398 -399 742
                                -738 763 -754 29 -22 50 -29 84 -29 44 0 48 3 149 103 100 101 103 105 103
                                149 0 34 -7 55 -29 84 -16 21 -355 365 -754 763 l-725 724 52 71 c170 232 292
                                507 350 788 138 671 -66 1356 -548 1841 -316 317 -715 518 -1157 582 -115 16
                                -425 19 -539 4z m513 -444 c512 -81 970 -430 1188 -903 282 -612 156 -1316
                                -321 -1792 -626 -627 -1626 -626 -2251 2 -238 240 -389 535 -446 870 -19 115
                                -21 375 -4 478 63 371 216 669 472 916 277 266 611 416 999 448 74 6 269 -4
                                363 -19z" />
                                    </g>
                                </svg>
                            </div>
                            <p>Details</p>
                        </a>
                    </div>
            </tr>
            }
        </tbody>
    </table>
    <partial name="_PagingNavBar" />
</form>


