@model IEnumerable<OASIS.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />

    <div class="flex-container">



        <div class="inner-flex-container-right">

            <button type="button" data-toggle="collapse" id="filterToggle" data-toggle="tooltip" data-placement="top" title="Filter" data-target="#collapseFilter" class="inner-flex-container-right-items" style=" width:15%; background-color:white">

              
                <div style="width:40%;">
                    <svg style="width:50%; height:50%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="svg" version="1.1" width="400" height="400" viewBox="0, 0, 400,400">
                        <g id="svgg">
                            <path id="path0" d="M0.000 89.000 L 0.000 112.000 200.000 112.000 L 400.000 112.000 400.000 89.000 L 400.000 66.000 200.000 66.000 L 0.000 66.000 0.000 89.000 M66.000 200.000 L 66.000 223.200 200.000 223.200 L 334.000 223.200 334.000 200.000 L 334.000 176.800 200.000 176.800 L 66.000 176.800 66.000 200.000 M155.200 311.000 L 155.200 334.000 200.000 334.000 L 244.800 334.000 244.800 311.000 L 244.800 288.000 200.000 288.000 L 155.200 288.000 155.200 311.000 " stroke="none" fill="#040404" fill-rule="evenodd" />
                            <path id="path1" d="" stroke="none" fill="#080404" fill-rule="evenodd" />
                            <path id="path2" d="" stroke="none" fill="#080404" fill-rule="evenodd" />
                            <path id="path3" d="" stroke="none" fill="#080404" fill-rule="evenodd" />
                            <path id="path4" d="" stroke="none" fill="#080404" fill-rule="evenodd" />
                        </g>
                    </svg>
                </div>

            </button>

            <a asp-action="Create" class="inner-flex-container-right-items" style=" width:24%; background-color:#27a9f8">
                <div style="width:40%;text-align:right">

                    <svg style="width:50%; height:50%" id="Layer_1" enable-background="new 0 0 512.002 512.002" height="512" viewBox="0 0 512.002 512.002" width="512" xmlns="http://www.w3.org/2000/svg"><g fill="#fff"><path d="m511.994 139.957c-.042-2.496-1.369-4.876-3.481-6.213l-158.6-100.428c-.777-.492-1.638-.837-2.54-1.018l-160.543-32.14c-7.955-1.596-12.335 9.352-5.484 13.69l71.847 45.494-57.841 17.166-48.998-31.026c-2.484-1.573-5.659-1.549-8.12.061l-59.406 38.886c-7.853 5.14.005 17.925 8.215 12.551l55.367-36.241 144.679 91.612-121.055 79.237-144.679-91.612 32.581-21.326c7.853-5.14-.005-17.925-8.215-12.551l-42.327 27.706c-2.082 1.361-3.393 3.79-3.393 6.275v264.004c0 2.57 1.316 4.961 3.488 6.336l158.601 100.428c1.796 1.136 4.112 1.46 6.146.854l274.923-81.589c8.998-2.67 5.139-17.174-4.268-14.38l-265.29 78.73v-248.358l323.399-95.976v248.357l-20.479 6.078c-8.997 2.67-5.141 17.17 4.268 14.38l25.846-7.67c3.183-.944 5.366-3.87 5.366-7.19v-264.004c0-.041-.006-.082-.007-.123zm-168.93-93.223 123.271 78.057-119.54-23.933-123.271-78.057zm-38.109 99.176-92.779-58.748 57.841-17.166 69.929 44.28c.777.492 1.638.837 2.54 1.018l130.882 26.203-260.347 77.263 92.029-60.238c2.134-1.397 3.412-3.782 3.393-6.332s-1.333-4.916-3.488-6.28zm-289.954 7.796 143.601 90.929v246.25l-143.601-90.928z" /><path d="m466.654 293.54c-1.898-1.416-4.354-1.852-6.623-1.176l-253.737 75.506c-3.18.946-5.361 3.87-5.361 7.188v73.185c0 2.368 1.118 4.597 3.016 6.012 1.311.978 2.887 1.488 4.484 1.488.716 0 1.436-.103 2.139-.312l253.737-75.506c3.18-.946 5.361-3.87 5.361-7.188v-73.185c0-2.368-1.118-4.597-3.016-6.012zm-11.984 73.604-238.737 71.042v-57.535l238.737-71.042z" /><path d="m291.679 405.335c4.142 0 7.5-3.358 7.5-7.5v-21.253c0-9.385-15-9.813-15 0v21.253c0 4.143 3.358 7.5 7.5 7.5z" /><path d="m391.21 374.829c4.142 0 7.5-3.358 7.5-7.5v-21.254c0-9.385-15-9.813-15 0v21.254c0 4.142 3.358 7.5 7.5 7.5z" /><path d="m413.346 368.829c4.142 0 7.5-3.358 7.5-7.5v-21.254c0-9.385-15-9.813-15 0v21.254c0 4.142 3.358 7.5 7.5 7.5z" /><path d="m435.482 362.829c4.142 0 7.5-3.358 7.5-7.5v-21.254c0-9.385-15-9.813-15 0v21.254c0 4.142 3.358 7.5 7.5 7.5z" /><path d="m235.335 422.099c4.142 0 7.5-3.358 7.5-7.5v-21.253c0-9.385-15-9.813-15 0v21.253c0 4.142 3.358 7.5 7.5 7.5z" /><path d="m257.013 416.765c4.142 0 7.5-3.358 7.5-7.5v-21.253c0-9.385-15-9.813-15 0v21.253c0 4.142 3.358 7.5 7.5 7.5z" /><path d="m330.843 393.227c4.142 0 7.5-3.358 7.5-7.5v-21.253c0-9.385-15-9.813-15 0v21.253c0 4.142 3.358 7.5 7.5 7.5z" /><path d="m352.046 387.797c4.142 0 7.5-3.358 7.5-7.5v-21.253c0-9.385-15-9.813-15 0v21.253c0 4.142 3.358 7.5 7.5 7.5z" /></g></svg>
                </div>

                <div style="width:100%;text-align:center">
                    <p>Add Product</p>
                </div>
            </a>

            <div class="inner-flex-container-right-items" id="moreOptions" style="width:5%;background-color: rgba(39,169,248,0.25)">
                <a asp-controller="ProductTypes" asp-action="Index" style="width:100%" data-toggle="tooltip" data-placement="top" title="Product Types">
                    <svg style="width:100%;height:100%;" id="Layer_1" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg"><g fill="#27a9f8"> <path d="m504 247h-496c-4.418 0-8 3.582-8 8s3.582 8 8 8h496c4.418 0 8-3.582 8-8s-3.582-8-8-8z" /><path d="m56 415v-128c0-4.418-3.582-8-8-8s-8 3.582-8 8v128c0 4.418 3.582 8 8 8s8-3.582 8-8z" /><path d="m112 231c4.418 0 8-3.582 8-8v-128c0-4.418-3.582-8-8-8s-8 3.582-8 8v128c0 4.418 3.582 8 8 8z" /><path d="m144 231c4.418 0 8-3.582 8-8v-128c0-4.418-3.582-8-8-8s-8 3.582-8 8v128c0 4.418 3.582 8 8 8z" /><path d="m112 279c-4.418 0-8 3.582-8 8v128c0 4.418 3.582 8 8 8s8-3.582 8-8v-128c0-4.418-3.582-8-8-8z" /><path d="m144 279c-4.418 0-8 3.582-8 8v128c0 4.418 3.582 8 8 8s8-3.582 8-8v-128c0-4.418-3.582-8-8-8z" /><path d="m176 231c4.418 0 8-3.582 8-8v-128c0-4.418-3.582-8-8-8s-8 3.582-8 8v128c0 4.418 3.582 8 8 8z" /><path d="m240 279c-4.418 0-8 3.582-8 8v80c0 4.418 3.582 8 8 8s8-3.582 8-8v-80c0-4.418-3.582-8-8-8z" /><path d="m272 279c-4.418 0-8 3.582-8 8v80c0 4.418 3.582 8 8 8s8-3.582 8-8v-80c0-4.418-3.582-8-8-8z" /><path d="m304 231c4.418 0 8-3.582 8-8v-128c0-4.418-3.582-8-8-8s-8 3.582-8 8v128c0 4.418 3.582 8 8 8z" /><path d="m472 415v-128c0-4.418-3.582-8-8-8s-8 3.582-8 8v128c0 4.418 3.582 8 8 8s8-3.582 8-8z" /><path d="m368 279c-4.418 0-8 3.582-8 8v128c0 4.418 3.582 8 8 8s8-3.582 8-8v-128c0-4.418-3.582-8-8-8z" /><path d="m440 223v-128c0-4.418-3.582-8-8-8s-8 3.582-8 8v128c0 4.418 3.582 8 8 8s8-3.582 8-8z" /><path d="m400 231c4.418 0 8-3.582 8-8v-128c0-4.418-3.582-8-8-8s-8 3.582-8 8v128c0 4.418 3.582 8 8 8z" /><path d="m472 223v-128c0-4.418-3.582-8-8-8s-8 3.582-8 8v128c0 4.418 3.582 8 8 8s8-3.582 8-8z" /><path d="m240 391c-4.418 0-8 3.582-8 8v16c0 4.418 3.582 8 8 8s8-3.582 8-8v-16c0-4.418-3.582-8-8-8z" /><path d="m80 375c4.418 0 8-3.582 8-8v-80c0-4.418-3.582-8-8-8s-8 3.582-8 8v80c0 4.418 3.582 8 8 8z" /><path d="m72 415c0 4.418 3.582 8 8 8s8-3.582 8-8v-16c0-4.418-3.582-8-8-8s-8 3.582-8 8z" /><path d="m272 391c-4.418 0-8 3.582-8 8v16c0 4.418 3.582 8 8 8s8-3.582 8-8v-16c0-4.418-3.582-8-8-8z" /><path d="m74 231h-20c-7.72 0-14-6.28-14-14v-116c0-7.72 6.28-14 14-14h20c7.72 0 14 6.28 14 14v116c0 7.72-6.28 14-14 14zm-18-16h16v-112h-16z" /><path d="m202 423h-20c-7.72 0-14-6.28-14-14v-116c0-7.72 6.28-14 14-14h20c7.72 0 14 6.28 14 14v116c0 7.72-6.28 14-14 14zm-18-16h16v-112h-16z" /><path d="m266 231h-52c-7.72 0-14-6.28-14-14v-116c0-7.72 6.28-14 14-14h52c7.72 0 14 6.28 14 14v116c0 7.72-6.28 14-14 14zm-50-16h48v-112h-48z" /><path d="m330 423h-20c-7.72 0-14-6.28-14-14v-116c0-7.72 6.28-14 14-14h20c7.72 0 14 6.28 14 14v116c0 7.72-6.28 14-14 14zm-18-16h16v-112h-16z" /><path d="m362 231h-20c-7.72 0-14-6.28-14-14v-116c0-7.72 6.28-14 14-14h20c7.72 0 14 6.28 14 14v116c0 7.72-6.28 14-14 14zm-18-16h16v-112h-16z" /><path d="m426 423h-20c-7.72 0-14-6.28-14-14v-116c0-7.72 6.28-14 14-14h20c7.72 0 14 6.28 14 14v116c0 7.72-6.28 14-14 14zm-18-16h16v-112h-16z" /><path d="m8 143c-4.418 0-8-3.582-8-8v-74c0-7.72 6.28-14 14-14h74c4.418 0 8 3.582 8 8s-3.582 8-8 8h-72v72c0 4.418-3.582 8-8 8z" /><path d="m504 143c-4.418 0-8-3.582-8-8v-72h-72c-4.418 0-8-3.582-8-8s3.582-8 8-8h74c7.72 0 14 6.28 14 14v74c0 4.418-3.582 8-8 8z" /><path d="m88 465h-74c-7.72 0-14-6.28-14-14v-74c0-4.418 3.582-8 8-8s8 3.582 8 8v72h72c4.418 0 8 3.582 8 8s-3.582 8-8 8z" /><path d="m498 465h-74c-4.418 0-8-3.582-8-8s3.582-8 8-8h72v-72c0-4.418 3.582-8 8-8s8 3.582 8 8v74c0 7.72-6.28 14-14 14z" /></g></svg>
                </a>

            </div>

        </div>

    </div>

    <div class="collapse @(ViewData["Filtering"])" id="collapseFilter">
        <div style="background-color:white!important; border: 1px solid rgba(39,169,248,0.3)" class="card card-body bg-light">
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Filter by Product Code:</label>
                        @Html.TextBox("SearchProdCode", null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Filter by Product Size:</label>
                        @Html.TextBox("SearchProdSize", null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Designation:</label>
                        @Html.DropDownList("ProductTypeID", null, "All Product Types", htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>

            </div>
            <div class="form-row">
                <div class="col-md-6  align-self-end">
                    <div class="form-group">
                        <input style="width:20%;" type="submit" name="actionButton" value="Filter" class="btn btn-warning" />
                        <a style="width:20%; margin-left:2%;" asp-action="Index" class="btn btn-dark ">Clear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    <input type="submit" name="disabled" disabled value="Code  (@Model.Count())" class="btn btn-link" />
                </th>
                <th>
                    @if (ViewData["sortField"].ToString().Contains("Description"))
                    {
                        <input type="submit" disabled style="color:gold" name="disabled" value="Description" class="btn btn-link" />
                    }
                    else
                    {
                        <input type="submit" disabled name="disabled" value="Description" class="btn btn-link" />

                    }
                </th>
                <th>
                    @if (ViewData["sortField"].ToString().Contains("size"))
                    {
                        <input type="submit" disabled style="color:gold" name="actionButton" value="size" class="btn btn-link" />
                    }
                    else
                    {
                        <input type="submit" disabled name="actionButton" value="size" class="btn btn-link" />

                    }
                </th>

                <th>
                    @if (ViewData["sortField"].ToString().Contains("Price"))

                    {
                        <input type="submit" style="color:gold" name="actionButton" value="Price" class="btn btn-link" />
                    }
                    else
                    {
                        <input type="submit" name="actionButton" value="Price" class="btn btn-link" />

                    }
                </th>

                <th>
                    @if (ViewData["sortField"].ToString().Contains("Product Type Name"))

                    {
                        <input type="submit" style="color:gold" name="actionButton" value="Product Type Name" class="btn btn-link" />
                    }
                    else
                    {
                        <input type="submit" name="actionButton" value="Type" class="btn btn-link" />

                    }
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.size)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductType.Name)
                    </td>
                    <td style="padding-top:0px; position:relative" class="table-row-img">
                        <img id="@item.ID" src="~/resources/moreOptions.png" class="ddl-icon" onclick="divVisibility(@item.ID)" alt="Alternate Text" />
                        <div id="@item.ID-ddl" class="index-drop-down-menu" style="height:45px">
                            <a asp-action="Edit" asp-route-id="@item.ID" class="index-drop-down-menu-flex-container">
                                <div class="index-drop-down-menu-flex-container-img">

                                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                                         width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000"
                                         preserveAspectRatio="xMidYMid meet">
                                        <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                                           fill="#000000" stroke="none">
                                            <path d="M3625 5106 c-63 -29 -98 -90 -110 -192 l-7 -61 -99 -40 -99 -40 -59
                        43 c-82 61 -166 74 -236 36 -11 -6 -68 -59 -126 -119 -103 -104 -129 -145
                        -129 -203 0 -38 24 -91 64 -145 l44 -59 -28 -60 c-15 -34 -32 -77 -39 -97 -12
                        -36 -13 -37 -87 -48 -87 -13 -122 -28 -157 -71 -38 -44 -47 -89 -47 -230 0
                        -144 9 -187 51 -234 35 -41 83 -61 166 -71 60 -7 62 -8 74 -43 6 -21 24 -64
                        39 -98 l27 -61 -43 -58 c-67 -90 -78 -159 -37 -240 23 -44 171 -193 223 -223
                        34 -21 58 -27 102 -27 53 0 63 4 131 51 68 48 75 51 98 38 13 -7 56 -25 96
                        -40 l71 -26 7 -62 c13 -116 62 -184 148 -207 64 -17 314 -8 353 14 66 35 94
                        87 109 204 6 49 9 53 43 64 21 6 64 24 98 39 l61 27 58 -43 c54 -40 107 -64
                        145 -64 58 0 99 26 203 129 60 58 114 117 121 131 38 74 26 146 -39 233 l-42
                        57 40 99 40 99 61 7 c112 13 187 65 201 138 4 18 5 105 3 193 -3 158 -3 161
                        -31 197 -37 48 -70 65 -161 78 l-74 11 -18 47 c-9 25 -27 68 -40 95 -13 27
                        -21 54 -17 60 4 6 23 34 44 61 59 79 70 154 33 225 -22 45 -227 238 -259 245
                        -17 4 -35 8 -41 10 -33 10 -111 -18 -167 -60 l-60 -44 -36 15 c-50 22 -123 51
                        -142 57 -12 4 -20 27 -28 82 -13 92 -29 125 -78 162 -36 28 -37 28 -212 30
                        -132 2 -184 -1 -206 -11z m280 -273 c8 -72 30 -126 63 -156 11 -10 60 -33 109
                        -51 48 -18 113 -46 143 -62 41 -21 69 -28 110 -28 58 0 85 11 158 66 l43 32
                        51 -52 52 -51 -32 -43 c-55 -73 -66 -100 -66 -158 0 -41 7 -69 28 -110 16 -30
                        44 -95 62 -143 18 -49 41 -98 51 -109 27 -31 90 -56 161 -64 l62 -7 0 -77 0
                        -78 -62 -7 c-77 -8 -141 -37 -168 -76 -12 -16 -31 -59 -44 -96 -13 -38 -38
                        -97 -56 -133 -57 -110 -47 -181 42 -293 l22 -27 -49 -50 c-27 -28 -53 -50 -58
                        -50 -4 0 -31 18 -60 39 -92 69 -152 73 -262 18 -33 -16 -90 -40 -128 -53 -122
                        -42 -159 -86 -173 -211 l-7 -63 -77 0 -78 0 -7 63 c-12 112 -64 183 -150 203
                        -16 4 -75 27 -130 52 -145 66 -192 63 -303 -20 l-43 -32 -51 52 -52 51 32 43
                        c83 111 86 158 20 303 -25 55 -48 114 -52 130 -20 86 -91 138 -203 150 l-63 7
                        0 78 0 77 63 7 c76 9 140 38 167 77 12 16 31 59 44 96 13 38 37 95 53 128 55
                        110 51 170 -18 262 -21 29 -39 56 -39 60 0 5 22 31 50 58 l50 49 27 -22 c112
                        -89 183 -99 293 -42 36 18 95 43 133 56 37 13 80 32 96 44 39 27 68 91 76 168
                        l7 62 78 0 78 0 7 -67z" />
                                            <path d="M3699 4272 c-350 -92 -465 -527 -208 -784 181 -181 477 -182 658 -1
                        183 184 185 480 2 661 -69 70 -139 108 -228 127 -88 19 -142 18 -224 -3z m204
                        -216 c94 -34 156 -116 164 -220 9 -104 -43 -192 -139 -240 -164 -82 -357 39
                        -358 224 0 171 172 293 333 236z" />
                                            <path d="M1195 3390 c-68 -17 -352 -143 -378 -168 -72 -68 -84 -154 -43 -306
                        l24 -89 -37 -30 c-42 -36 -191 -189 -191 -197 0 -3 -52 7 -117 23 -107 27
                        -121 28 -171 17 -44 -10 -64 -21 -101 -59 -39 -40 -56 -71 -114 -214 -75 -186
                        -84 -245 -48 -322 23 -50 45 -69 152 -133 l85 -51 0 -166 -1 -165 -85 -51
                        c-101 -60 -126 -82 -151 -131 -36 -71 -27 -138 42 -304 74 -179 90 -213 121
                        -240 65 -60 145 -68 294 -30 l90 23 54 -62 c29 -34 81 -86 115 -115 l62 -54
                        -23 -90 c-39 -153 -28 -243 38 -302 30 -28 57 -41 231 -113 167 -69 234 -78
                        305 -42 49 25 71 50 131 151 l51 85 165 1 165 1 52 -86 c64 -107 83 -129 133
                        -152 78 -36 137 -27 323 48 141 58 174 75 213 114 38 37 49 57 59 101 11 50
                        10 64 -17 171 -16 65 -26 117 -23 117 8 0 161 149 197 191 l30 37 89 -24 c152
                        -41 238 -29 306 43 30 31 162 339 173 402 10 61 -16 138 -62 182 -21 20 -74
                        57 -117 83 l-80 45 0 166 -1 166 79 46 c144 85 180 133 180 238 -1 51 -11 85
                        -72 230 -84 199 -118 242 -211 265 -49 12 -62 10 -166 -15 l-112 -28 -117 118
                        -118 118 27 111 c25 100 26 115 15 165 -21 94 -64 129 -263 211 -194 80 -219
                        86 -285 70 -69 -16 -114 -58 -176 -163 l-54 -92 -166 1 -167 0 -45 80 c-62
                        106 -106 151 -168 169 -54 16 -75 17 -121 5z m106 -341 c45 -75 66 -100 104
                        -124 l48 -30 226 -1 c124 -1 242 3 261 9 59 16 98 54 156 152 30 52 56 95 58
                        95 6 0 237 -97 242 -102 2 -3 -7 -52 -21 -109 -42 -165 -23 -227 103 -332 39
                        -32 97 -90 129 -129 105 -126 163 -145 328 -103 59 14 109 24 113 21 4 -5 102
                        -236 102 -242 0 -2 -43 -28 -95 -58 -98 -58 -135 -97 -153 -156 -5 -20 -9
                        -134 -8 -261 l1 -226 30 -48 c24 -38 49 -59 119 -101 49 -29 93 -57 97 -61 7
                        -7 -79 -234 -94 -250 -3 -2 -47 7 -98 21 -185 51 -198 46 -410 -166 -161 -161
                        -168 -170 -180 -223 -11 -51 -10 -65 15 -166 16 -61 26 -112 24 -114 -4 -4
                        -104 -47 -200 -85 l-46 -19 -55 92 c-99 166 -98 165 -414 163 l-241 -1 -44
                        -30 c-30 -22 -60 -59 -100 -125 -32 -53 -63 -94 -70 -92 -14 3 -231 92 -236
                        97 -2 1 8 47 22 101 49 187 47 193 -164 404 -211 211 -217 213 -404 164 -54
                        -14 -100 -24 -101 -22 -5 5 -94 222 -97 236 -2 7 39 38 92 70 66 40 103 70
                        125 100 l30 44 1 241 c2 316 3 315 -163 414 l-92 55 19 46 c39 98 81 196 85
                        200 2 3 54 -8 115 -23 102 -26 114 -27 168 -15 52 11 63 19 132 92 41 44 98
                        101 125 127 168 155 179 188 129 370 -14 51 -24 95 -22 97 10 9 234 102 243
                        100 5 -1 35 -45 66 -97z" />
                                            <path d="M1530 2464 c-233 -50 -431 -205 -536 -419 -64 -131 -79 -196 -78
                        -350 0 -104 4 -146 22 -208 77 -270 278 -471 548 -549 103 -30 304 -32 404 -5
                        338 91 572 379 588 723 15 342 -174 642 -485 769 -131 53 -324 69 -463 39z
                        m351 -256 c216 -80 359 -284 359 -513 0 -293 -250 -544 -542 -545 -294 -1
                        -549 254 -548 548 1 238 174 460 411 527 81 23 235 14 320 -17z" />
                                        </g>
                                    </svg>
                                </div>
                                <p>Edit</p>
                            </a>

                            
                        </div>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_PagingNavBar" />
</form>



@section Scripts {
    <script src="~/js/moreOption.js"></script>
}