@model IEnumerable<OASIS.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<form asp-action="Index" method="get">
    <div class="flex-container">

        <div class="inner-flex-container-left">
            <div class="inner-flex-container-left-items">
                <h1>Customers</h1>
            </div>
            <div class="inner-flex-container-left-items">
                <p>Total Customers : 5</p>
            </div>
            <div class="inner-flex-container-left-items">
                <p>Sorted by : Date Created</p>
            </div>
        </div>

        <div class="inner-flex-container-right">

            <button type="button" data-toggle="collapse" id="filterToggle" data-target="#collapseFilter" class="inner-flex-container-right-items" style=" width:30%; background-color:white">

                <div style="width:60%;text-align:center">
                    <p>Filter</p>
                </div>
                <div style="width:40%;">
                    <img style="width:50%" ;height="50%" src="~/resources/filterBtn.png" alt="Alternate Text" />
                </div>

            </button>

            <a asp-action="Create" class="inner-flex-container-right-items" style=" width:40%; background-color:#27a9f8">
                <div style="width:40%;text-align:right">
                    <img style="width:50%" ;height="50%" src="~/resources/addUser.png" alt="Alternate Text" />
                </div>

                <div style="width:100%;text-align:center">
                    <p>Add Customer</p>
                </div>
            </a>

            <div class="inner-flex-container-right-items" style="width:10%;background-color: rgba(39,169,248,0.25)">
                <div style="width:100%">
                    <img style="width:100%" ;height="100%" src="~/resources/moreOptions.png" alt="Alternate Text" />
                </div>

            </div>
        </div>

    </div>
    <div class="collapse @(ViewData["Filtering"])" id="collapseFilter">
        <div class="card card-body bg-light">
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Applied for:</label>
                        @*@Html.DropDownList("PostingID", null, "All Postings", htmlAttributes: new { @class = "form-control" })*@
                        <select class="form-control">
                            <option value="#">Option</option>
                            <option value="#">Option</option>
                            <option value="#">Option</option>
                            <option value="#">Option</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Filter by Skill:</label>
                        @*@Html.DropDownList("SkillID", null, "All Skills", htmlAttributes: new { @class = "form-control" })*@
                        <select class="form-control">
                            >
                            <option value="#">Option</option>
                            <option value="#">Option</option>
                            <option value="#">Option</option>
                            <option value="#">Option</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Search Applicant Name:</label>
                        @Html.TextBox("SearchName", null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">eMail Address:</label>
                        @Html.TextBox("SearchEmail", null, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6  align-self-end">
                    <div class="form-group">
                        <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary" />
                        <a asp-action="Index" class="btn btn-outline-dark ">Clear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.OrgName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Position)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>


                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>


                <td>
                    <div style="display:flex; align-items:center">
                        @Html.DisplayFor(modelItem => item.FullName)

                    </div>
                    <div>
                        @Html.DisplayFor(modelItem => item.Email)

                    </div>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrgName)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>

                <td style="padding-top:0px; position:relative" class="table-row-img">
                    <img id="@item.ID" src="~/resources/moreOptions.png" onclick="divVisibility(@item.ID)" alt="Alternate Text" />
                    <div  id="@item.ID-ddl" class="index-drop-down-menu">
                        <a asp-action="Edit" asp-route-id="@item.ID" class="index-drop-down-menu-flex-container">
                            <div class="index-drop-down-menu-flex-container-img"><img src="~/resources/settings.png" alt="Alternate Text" /></div>
                            <p>Edit</p>
                        </a>

                        <a asp-action="Details" asp-route-id="@item.ID" class="index-drop-down-menu-flex-container">
                            <div class="index-drop-down-menu-flex-container-img"><img src="~/resources/search.png" alt="Alternate Text" /></div>
                            <p>Details</p>
                        </a>

                        <a asp-action="Delete" asp-route-id="@item.ID" class="index-drop-down-menu-flex-container">
                            <div class="index-drop-down-menu-flex-container-img"><img src="~/resources/trash-bin.png" alt="Alternate Text" /></div>
                            <p>Delete</p>
                        </a>
                    </div>
                    </td>
                @*<td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>*@
            </tr>
            }
        </tbody>
    </table>
</form>